* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: #272C37;
    font-family: "Oswald", sans-serif;
}

.oculto {
    display: none;
}

header {
    padding: 22.8px;
    text-align: center;
    position: relative;
    background-color: #333;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 80px;
    width: auto;
}

header h1 {
    margin: 20px 0 10px;
    font-size: 40px;
    color: white;
}

.header-saldo {
    position: absolute;
    top: 50px;
    right: 20px;
    text-align: center;
    color: white;
}

.saldo-texto {
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
}

.input-saldo {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

.btn-definir-saldo {
    height: 30px;
    width: 80px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.jogo {
    background-color: rgb(24, 24, 24);
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.sec-tit-double {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 24px;
}

.pi {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.input-aposta {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    background-color: #272C37;
    border-color: #272C37;
    color: white;
}

.label-aposta {
    color: white;
    font-size: 22px;
}

.preto, .vermelho {
    height: 30px;
    width: 110px;
    background-color: #ae2424;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.preto {
    background-color: #272C37;
}

.preto.desativado, .vermelho.desativado {
    opacity: 0.5;
    pointer-events: none;
}

.btn-aposta {
    height: 30px;
    width: 80px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btn-aposta:hover {
    background-color: #45a049;
}

.resultado {
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 18px;
}

.relatorio {
    background-color: rgb(24, 24, 24);
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.tit-relatorio {
    text-align: center;
    color: white;
    margin: 15px 0;
    font-size: 30px;
}

.historico {
    margin-top: 20px;
}

.separador2 {
    border: none;
    border-top: 2px solid #ccc;
    margin: 0;
}

.tit-histo {
    font-size: 1.5em;
    color: white;
    text-align: left;
    margin: 15px 0 0 10px;
}

#historico-lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

#historico-lista li {
    display: flex;
    align-items: center;
}

#historico-lista img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

.mensagem-parabens {
    display: none;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 10px;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.ganho {
    text-align: center;
    color: green;
    font-size: 18px;
    margin-top: 10px;
}

.linha-vertical {
    display: inline-block;
    border-left: 2px solid white;
    height: 30px;
    margin: 0 20px;
}

.paragrafos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

.parav, .parad {
    margin: 0 10px;
    font-size: 20px;
    color: white;
}

.separador {
    border: none;
    border-top: 2px solid #333;
    margin: 0;
}

.ilogo {
    max-height: 80px;
    max-width: 160px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-resetar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-resetar:hover {
    background-color: #c9302c;
}

.contador {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    header {
        padding: 10px;
        height: auto;
    }

    .header-saldo {
        top: 10px;
        right: 10px;
        font-size: 16px;
        position: static;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 32px;
    }

    .jogo, .relatorio {
        max-width: 100%;
        padding: 10px;
    }

    .sec-tit-double, .tit-relatorio {
        font-size: 20px;
    }

    .paragrafos {
        font-size: 16px;
    }

    .input-aposta {
        height: 30px;
        width: 50px; 
        margin: 10px 0; 
    }

    .btn-aposta{
        height: 30px;
        width: 50px;
        margin: 2px;
        font-size: 14px;
    }

    .pi {
        flex-direction: row; 
        gap: 10px;
    }
}