/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1F27;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    border-bottom: 3px solid #ffffff;
    text-align: center;
}

.titulo_header {
    font-size: 2.5rem;
    color: yellow;
}

main {
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.input_container {
    color: yellow;
    padding-bottom: 10px;
}

.espaco_casino {
    max-width: 1200px;
    border-radius: 10px;
    border: yellow 1px solid;
    margin: auto;
}

.tela_casino { 
    width: 100%;
    height: 700px;
    border: none; 
    border-radius: 10px; 
    display: block;
    margin: auto; 
}

/* Estilos para o footer */
footer {
    background-color: #1B1F27;
    color: #888888;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo_header {
        font-size: 2rem;
    }

    .tela_casino {
        height: 550px;
    }
}

@media (max-width: 480px) {
    .titulo_header {
        font-size: 1.8rem;
    }

    .tela_casino {
        height: 550px;
    }
}
