@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #1e1e1e;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.5px;
}

header {
    border-bottom: solid 2px white;
}

.titulo {
    text-align: center;
    font-size: 45px;
    margin: 10px;
}

.opcoes {
    margin: 10px 0px 0px 10px;
}

.links-container {
    display: flex; /* Organiza os itens em linha */
    justify-content: center; /* Centraliza os links horizontalmente */
    gap: 20px; /* Espaçamento entre os links */
    margin-top: 20px;
  }

  /* Estilo para cada link */
  .link-bacbo, .link-roleta {
    display: flex;
    flex-direction: column; /* Coloca imagem e texto na vertical */
    align-items: center; /* Centraliza na horizontal */
    text-decoration: none; /* Remove sublinhado dos links */
    color: white; /* Cor do texto */
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
  }

  /* Estilo das imagens */
  .img-bacbo, .img-roleta {
    width: 200px; /* Ajusta a largura das imagens */
    height: 200px; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas */
    margin-bottom: 8px; /* Espaço entre imagem e texto */
  }